@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #292929;
  color: #ffffff;
}

h1, h2{
  margin: 0;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(to right,#f75990 ,#fff685,#00DDFF,#0049B7 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Climate Crisis', cursive;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px;
}

.logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

#menu-btn {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  list-style: none;
}

a {
  display: block;
  padding: 1rem;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  background: linear-gradient(to right,#f75990 ,#fff685,#00DDFF,#0049B7 );
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container div {
  width: 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  text-align: center;
}

.container img {
  width: 100px;
  height: 100px;
}

.container h3 {
  margin-top: 10px;
  font-size: 24px;
}

.container p {
  margin-top: 5px;
  font-size: 18px;
}

